version: "3.7"
services:
    # image project
    app:
        build:
            context: .
            dockerfile: Dockerfile
        restart: unless-stopped
        working_dir: /var/www/
        volumes:
            - ./:/var/www
        depends_on:
            - redis
        networks:
            - laravel-glicemia

    # nginx
    nginx:
        image: nginx:alpine
        restart: unless-stopped
        ports:
            - "80:80"
        volumes:
            - ./:/var/www
            - ./docker/nginx/:/etc/nginx/conf.d/
            - ./storage:/var/www/storage 
        networks:
            - laravel-glicemia

    # db mysql
    db:
        image: mysql:8.0
        restart: unless-stopped
        environment:
          MYSQL_DATABASE: ${DB_DATABASE:-glicemia}   # Usará o valor do .env ou 'glicemia' como padrão
          MYSQL_ROOT_PASSWORD: ${DB_PASSWORD:-root}   # Usará o valor do .env ou 'root' como padrão
          MYSQL_PASSWORD: ${DB_PASSWORD:-userpass}    # Usará o valor do .env ou 'userpass' como padrão
          MYSQL_USER: ${DB_USERNAME:-username}    
        volumes:
            - ./.docker/mysql/dbdata:/var/lib/mysql
        ports:
            - "3306:3306"
        networks:
            - laravel-glicemia

    # queue
    queue:
        build:
            context: ./
            dockerfile: Dockerfile
        restart: unless-stopped
        command: "php artisan queue:work"  # Mova a opção 'command' aqui
        volumes:
            - ./:/var/www
        depends_on:      
            - redis
            - app
        networks:
            - laravel-glicemia

    # redis
    redis:
        image: redis:latest
        networks:
            - laravel-glicemia

networks:
    laravel-glicemia:
        driver: bridge
